.layout{
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "HYXJ"
}
.header{
    display: flex;
    justify-content: space-around;
    width: 400px;
}
.header .link{
    padding: 20px;
    text-decoration: none;
}