.todo-item{
    border: black solid 3px;
    display: flex;
    align-items: center;
    width: 50%;
    margin: 10px;
    position: relative;
    border-radius: 20px;
    background-color: rgba(255, 235, 205, 0.413);
}

.todo-item-text{
    text-align: left;
    margin-left: 10px;
    width: 80%;
    word-break: break-all;
    cursor: pointer;
    font-family: "HYXJ"
}

.todo-item-text-finish{
    text-align: left;
    text-decoration: line-through;
    margin-left: 10px;
    width: 80%;
    word-break: break-all;
    cursor: pointer;
    font-family: "HYXJ"
}

.itemDeleteIcon{
    width: 20px;
    position: absolute;
    right: 0;
    margin-right: 10px;
    cursor: pointer;
}

.itemEditIcon{
    position: absolute;
    right: 12%;
    transform: 1.25;
    cursor: pointer;
}

.modalTitle{
    font-family: "HYXJ";
}

.modalInput{
    font-family: "HYXJ";
}

@media (max-width: 600px){
    .itemDeleteIcon{
        width: 20px;
        position: absolute;
        right: 0;
        margin-right: 10px;
        cursor: pointer;
    }

    .itemEditIcon{
        position: absolute;
        right: 25%;
        transform: 1.25;
        cursor: pointer;
    }
}